<%  @students.each { |student| %>
  <p>Student ID: <%=  student.id %></p>
  <p>Student First Name: <%=  student.first_name %></p>
  <p>Student Last Name: <%=  student.last_name %></p>
  <p>Student House: <%=  student.house %></p>
  <p>Student Age: <%=  student.age%></p>
  <hr/>
<% } %>
